<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title</title>
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	$theme.include($top_head_include)
</head>
	
	#set ($show_sign_in_public_users = $getterUtil.getBoolean($theme.getSetting("show-sign-in-button-public-users")))
	#set ($show_nav_public_users = $getterUtil.getBoolean($theme.getSetting("show-nav-public-users")))
	
	#set ($show_page_title = $getterUtil.getBoolean($theme.getSetting("show-page-title")))
	#set ($is_company_admin = $permissionChecker.isCompanyAdmin())

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				#end	
				
			</h1>

			#if($show_page_title)
				<h2 class="page-title">
					<span>$the_title</span>
				</h2>
			#end
		</div>

		#if (!$is_signed_in && $show_sign_in_public_users)
			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($has_navigation && ( $is_signed_in || $show_nav_public_users))
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		#if ($is_signed_in || $show_nav_public_users)
			<nav id="breadcrumbs">#breadcrumbs()</nav>
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
	<footer id="footer" role="contentinfo">
		<!--
		<p >
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
		-->
		<p class="powered-by">
        #if($theme.getSetting("display-slogan-footer") == true)
            $theme.getSetting("slogan")
        #else
            Freemanco.com
        #end
    </p>
	</footer>
	
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>